{% set model = createModel('Transactions','checkout').orderBy('id','desc') %}
{{ createSearch('transaction_id','transactions','like:%{value}%','and') }}
{% set model = applySearch(model,'transactions') %}
{% set items = paginate(model,'transactions') %}
{% if items.getItems()|length == 0 %}
<tr>
    <td colspan="6">..</td>
</tr>
{% endif %}
{% for item in items.getItems() %}  
    <tr id="{{ item.uuid }}">              
        <td>                                  
            <button class="ui icon mini compact basic button transaction-details" uuid="{{ item.uuid }}">
                <i class="icon info"></i>
            </button>                        
        </td>
        <td>
            {{ item.date_created|dateFormat }}
        </td>  
        <td>           
            {{ component('checkout::admin.transactions.label',{ status: item.status }) }}         
        </td>
        <td>
            {{ item.type }}       
         </td>
        <td>
           {{ item.transaction_id|sliceLabel }}       
        </td>            
        <td>
            <span class="text-small uppercase">
                {{ item.currency }}
            </span>
            {{ item.amount|numberFormat }}
        </td>                                         
        <td>
            {{ item.user.user_name_or_email|default('..') }}
        </td>                       
    </tr>
{% endfor %}
