<div class="ui segment">
    <div class="ui grid">
        <div class="ten wide column">                   
        </div>
        <div class="six wide right aligned column">       
            {{ component('components:paginator.dropdown',{ namespace: 'transactions' }) }}
        </div>
    </div>
</div>
<div class="mt-4 flex flex-row w-full" style="border:1px solid red">
    {{ component('checkout::admin.transactions.view',{}) }}
    <div class="p-1 hidden" id="right_sidebar" style="border:1px solid red"></div>
</div>