<div class="ui grid">
    <div class="ten wide column">
        <div class="ui segment">
            <div class="ui grid">
                <div class="ten wide column">                   
                </div>
                <div class="six wide right aligned column">       
                    {{ component('semantic~paginator.dropdown',{ class: 'mini', namespace: 'transactions' }) }}
                </div>
            </div>
        </div>      
        <div class="mt-2 w-full">
            {{ component('checkout::admin.transactions.view',{}) }}           
        </div>         
    </div>
    <div class="six wide column" id="details_content">        
    </div>
</div>

