{{  component('system:admin.tabs',{ 
        items: [ 
            { 
                title: labels.transactions.content, 
                component: 'checkout::admin.transactions', 
                svg_icon: 'icons~list', 
                active: true 
            },  
            {           
                title: labels.settings.content, 
                component: 'checkout::admin.config', 
                svg_icon: 'icons~cog' 
            },    
        ],
        menu: { 
            component: 'system:admin.extensions.menu.actions', 
            extension: 'checkout' 
        },
        content: { 
            component: 'checkout::admin.transactions' 
        } 
    })
}}