<div class="flex-grow mt-2">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>              
                <th class="one wide collapsing left aligned">{{ columns.action }}</th>
                <th class="one wide">{{ columns.created }}</th>
                <th class="collapsing one wide">{{ columns.status }}</th>
                <th class="collapsing four wide">{{ columns.transaction }}</th>               
                <th class="three wide">{{ columns.amount }}</th>    
                <th class="three wide">{{ columns.payer }}</th>                             
                <th class="two wide">{{ columns.driver }}</th>                                      
            </tr>
        </thead>
        <tbody id="transactions_rows" component="checkout::admin.transactions.view.rows" namespace="transactions">
            {{ component('checkout::admin.transactions.view.rows') }} 
        </tbody>
    </table> 
    <div id="paginator">      
        {{ component("components:paginator",{ namespace: 'transactions' }) }}
    </div>
</div>