<div class="ui segment">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>              
                <th class="one wide left aligned">{{ columns.action }}</th>
                <th class="three wide">{{ columns.created }}</th>
                <th class="one wide">{{ columns.status }}</th>
                <th class="one wide">{{ columns.type }}</th>
                <th>{{ columns.transaction }}</th>               
                <th class="two wide">{{ columns.amount }}</th>                                                           
                <th class="two wide">{{ columns.user }}</th>                                      
            </tr>
        </thead>
        <tbody 
            id="transactions_rows" 
            component="checkout::admin.transactions.view.rows" 
            namespace="transactions">
            {{ component('checkout::admin.transactions.view.rows') }} 
        </tbody>
    </table> 
    <div id="paginator">      
        {{ component("semantic~paginator",{ namespace: 'transactions' }) }}
    </div>
</div>