{% set transaction = createModel('Transactions','checkout').findById(uuid) %}

{% component 'system:admin.panel' %}
    <table class="{{ theme.table.details }}">
        <body>   
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.id }}</td> 
                <td class="break-all">
                    {{ component('system:admin.view.info',{ model : transaction }) }}                   
                </td>
            </tr>  
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.status }}</td> 
                <td>
                    {{ component('checkout::admin.transactions.label',{ status: transaction.status }) }}         
                </td>
            </tr>            
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.external_id }}</td> 
                <td>{{ transaction.transaction_id }}</td>
            </tr> 
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.type }}</td> 
                <td>{{ transaction.type }}</td>
            </tr>   
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.user }}</td> 
                <td>{{ transaction.user.user_name_or_email|default('..') }}</td>
            </tr>             
        </body>
    </table>  

    <table class="{{ theme.table.details }}">          
        <body>
            {% for key, value in transaction.full_details %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ key }}</td> 
                <td class="break-all">
                    {% if value is iterable %}
                        {{ value|json_encode() }}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </body>
    </table>   
   
    {% if hasExtension('crypto') and transaction.type == 'crypto' %}
        {{  component('crypto::admin.transactions.details.button',{ 
                transaction_id: transaction.transaction_id,
                network: transaction.getOption('network')
            }) 
        }}
    {% endif %}
{% endcomponent %}