{% set model = createModel('CheckoutDrivers','checkout') %}
{% set result = model.updateDriversList(category) %}
{% set drivers = model.driversQuery(category).get() %}
{% set empty = empty|default(label.empty) %}

{% component 'system:admin.panel' %}
    {% set hide_close = true %}
    <div class="mt-4">
        {% if drivers is empty %}  
            {{ component('system:admin.alert.info',{ message: empty }) }}            
        {% endif %}

        <div class="{{ theme.list.defalt }}">    
           
            {% for driver in drivers %}
            <div class="flex flex-row items-center">        
                <div class="flex flex-row items-center">  
                    <button 
                        uuid="{{ driver.uuid }}"
                        class="{{ theme.buttons.menu }} change-driver-status 
                        {{ (driver.status == 1) ? 'active' : '' }}">
                        <i class="icon {{ (driver.status == 1) ? 'check' : 'close red' }}">

                        </i>
                    </button>                    
                    {% if hide_config != true %}
                    <a 
                        class="{{ theme.buttons.menu }} driver-config" 
                        title="{{ label.settings }}" 
                        driver-name="{{ driver.driver_name }}">
                        {{ component('icons~cog',theme.icons.menu,'svg') }}
                    </a>
                    {% endif %}              
                    {% if driver.default == 1 %}
                        <div class="badge badge-sm badge-success">
                            {{ label.default }}
                        </div>
                    {% else %}
                    <a class="{{ theme.buttons.menu }} set-default-driver" 
                        category="{{ category }}" 
                        uuid="{{ driver.uuid }}">
                        {{ buttons.default }}
                    </a>  
                    {% endif %}
                </div>
                <div class="ml-4 flex flex-col">
                    <div class="font-bold">{{ driver.title }}</div>
                    <div class="px-2">{{ driver.driver_name }}</div>
                </div>      
            </div>
            {% endfor %}
        </div>
    </div>
{% endcomponent %}